/* SchoolScout Theme Studio | © candra.dev 2022-23 */

/* This is an example ThemesV2 stylesheet, duplicate and edit to create a new theme. */
/* Refrain from modifying to retain default template access.  */


/*BACKGROUND - BACKGROUND - BACKGROUND - BACKGROUND - BACKGROUND - BACKGROUND - BACKGROUND - BACKGROUND*/

.fullscreen {
    background-size: cover;
    background: rgb(174, 209, 238);
    background: linear-gradient(0deg, rgb(174, 211, 238) 0%, rgba(255, 255, 255, 1) 100%);
    height: 100%;

    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;


}

/*TABBED MENU - TABBED MENU - TABBED MENU - TABBED MENU - TABBED MENU - TABBED MENU - TABBED MENU - TABBED MENU*/

#pwa {
  background: #f63e3c;
  box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
  border: 1px solid rgba(255, 255, 255, 0.18);


}

#about {
    background-color: #34A260;
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    border: 1px solid rgba(255, 255, 255, 0.18);


}

#more {
    background-color: #12855D;
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    border: 1px solid rgba(255, 255, 255, 0.18);


}


/*THEMED BUTTON - THEMED BUTTON - THEMED BUTTON - THEMED BUTTON - THEMED BUTTON - THEMED BUTTON - THEMED BUTTON*/

.specialBtn {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 8px;
    color: #594c45;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.18);


}


.specialBtn:hover {
    background: rgba(255, 255, 255, 0.77);
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 8px;
    color: #594c45;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.noteBtn:hover {
    background: rgba(255, 255, 255, 0.77);
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 8px;
    color: #594c45;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.glassBackground, .glassBackground:focus {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: #594c45;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;


}

.progressblock {

  color: white;
  border-radius: 8px !important;
}


.progress {

  background: #ffffff;
  border-radius: 8px !important;
}

.progressblock-mobile {

  color: white;
  border-radius: 8px !important;
}



.progresstext {

  color: #ffffff !important;

}

.progresstext-mobile {

  color: #594c45 !important;

}


.progress-bar {
  background-color: #f63e3c;;
!important;
  color: #ffffff !important;
  border-radius: 8px !important;
}


/*DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER - DRAWER*/


.sidenav2 {

    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28) !important;
    color: #594c45;
    border: 1px solid rgba(255, 255, 255, 0.18);

}


.sidenav2 .closebtn {
    position: absolute !important;
    top: 0;
    right: 200px;
    font-size: 36px;
    margin-left: 50px;
}


.sidenav2 a {

    color: #818181;
}


.sidenav2 a:hover {
    color: #f63e3c;
    /*NOTE AND WEATHER DRAWER CLOSE BUTTON HOVER COLOUR*/

}


/*NAME INPUT - NAME INPUT - NAME INPUT - NAME INPUT - NAME INPUT - NAME INPUT - NAME INPUT - NAME INPUT*/

.namesavedel {
  background: none;
  color: rgba(185, 185, 167, 0.49);

  font-weight: bolder;
  border: none;
  font-size: xx-large;


}

.namesavedel:hover {
    color: #f63e3c !important;
    display: initial !important;
}


/*GRIDSTACK - GRIDSTACK - GRIDSTACK - GRIDSTACK - GRIDSTACK - GRIDSTACK - GRIDSTACK - GRIDSTACK - GRIDSTACK*/

.grid-stack {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.grid-stack-item-content {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(117, 104, 75, 0.28);

    border: 1px solid rgba(255, 255, 255, 0.18);
}


/*THEME COLOURS - THEME COLOURS - THEME COLOURS - THEME COLOURS - THEME COLOURS - THEME COLOURS - THEME COLOURS*/

.green1 {
    color: #f63e3c;

}

.green1lighter {
    color: #277f5b;

}

.green2 {
  color: #41a669;

}

.green2lighter {
  color: #58ad61;

}

.botanicaltext, .botanicaltext:hover {
    color: #594c45 !important;


}

.orenjijuusu {
  color: #f63e3c;

}

.aestheticbackground {
  background-color: #f6f6f3;

}


.aesthetictext {

  color: #f6f6f3;


}




.svgicondock, .tabbedsvgicon {
  fill: #594c45;


}


















